{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
    <h1>
        About JustRead
    </h1>

    <section>
        <h2>We help humanity to read more books!</h2>
        <p>
            At Just Read, it is our goal to make books more accessible to people all around the globe! 
            In our view, accessible litterature is a basic human right! Whether you can read or 
            not - simply feeling, smelling and tasting of a book is a sensuory experience that no human 
            should be without. It is for this reason, that we - at Just Read - have decided to make a cheap, 
            online books delivery service which guarantees quality books and speedy delivery. With our 
            Harry Potter-inspired delivery service, books will magically appear at your home only seconds 
            after you have placed your order. 
            
            So get reading! And help us extinguish stupidity! 
        </p>
    </section>

    <section>
        <h2>We provide excellent, cheap and intellectually nourishing litterature!</h2>
        <p>
            At Just Read, we only sell books that will nourish your mind. So no need to fear fluffy, 
            pseudo-intellectual litterature - when you use Just Read, you are guaranteed IQ-boosting 
            reads that will make your friends ask: "what IS that very intellectual-looking book 
            you are reading, Sir?" 
        </p>
    </section>

    <section>
        <h2>100% recycled paper!</h2>
        <p>
            At Just Read, we only use the finest of recycled paper. The recycled paper, we use at Just Read, 
            originates from the libraries of only the noblest of noble, royal and billionaire families. 
            Thus, when buying books from Just Read, you are guaranteed an outstanding reading experience. 
            Just Read books are further characterized by their silky touch which is due to the unique 
            silk-treatment that each recycled noble-family-library-page undergoes before printing. 
            In this process, each page is covered by a thin layer of pure Danish silk to ensure a pleasurable 
            experience for the reader's delicate fingers. Thus reading a Just Read book is not like reading 
            any old book - it is an experience of true luxury. 
        </p>
    </section>

    <section>
        <h2>Same-day delivery assured!</h2>
        <p>
            As mentioned in the above, at Just Read, we use a special, Harry Potter-inspired delivery service. 
            By using the so-called "Floo Network" of chimneys - in combination with Floo powder - we transport 
            your book order directly to your own, private chimney. 
            
            Could it get any easier? 
        </p>
    </section>
{% endblock %}