{% extends 'base.html' %}
{% from "components/macros.html" import cta_button %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
{% endblock %}

{% block content %}
    <h1>Book Listing</h1>
    <div class="book-container">
        {% for book in books %}
            <div class="book-card">
                <img src="{{ url_for('static', filename='images/book.png') }}" alt="Book 1">
                <h2>{{ book.title }}</h2>
                <div class="buttons">
                    <a href="{{ url_for('book.buy_book', pk=book.pk) }}" class="btn2 smaller-btn">Buy</a>
                </div>
                <div class="details">
                    <p><strong>Author:</strong><br>{{ book.authors }}</p>
                    <p><strong>Categories:</strong><br>{{ book.categories }}</p>
                    <p><strong>Published Year:</strong><br>{{ book.published_year }}</p>
                    <p><strong>Rating:</strong><br>{{ book.average_rating }}</p>
                    <p><strong>Pages:</strong><br>{{ book.num_pages }}</p>
                    <p><strong>Ratings Count:</strong><br>{{ book.ratings_count }}</p>
                </div>
                <div class="description" style="text-align: center;">
                    <h3>Description</h3>
                    {{ book.description }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
