{% extends 'base.html' %}
{% from "components/macros.html" import form_errors, book_card %}

{% block title %}Buy Book{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
{% endblock %}

{% block content %}
    <section class="form-wrapper">
        <h2 style="text-align: center">Are you sure you want to buy this book?</h2>
        {{ book_card(book=book, show_checkout=False, show_restock=False) }}
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            {{ form_errors(form.submit.errors) }}
            <div class="form-row" style="width: 80%; max-width: unset; margin: auto;">
                {{ form.submit(class='btn') }}
                <a href="{{ url_for('book.books') }}" class="btn">BACK!</a>
            </div>
        </form>
    </section>
{% endblock %}