{% extends 'base.html' %}
{% from "components/macros.html" import cta_button %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="content-container">
            <h1>Welcome to JustRead!</h1>
            <p>Discover a world of books at your fingertips.</p>
            <a href="{{ url_for('Login.home') }}" class="btn">Browse Books</a>
        </div>
    </section>

    <div class="home">
        <section class="home__hero">
            <div class="hero__left">
                <h1>
                    Discover the joy of reading with our wide selection of books!
                </h1>
                <p>
                    Immerse yourself in captivating stories and explore new worlds through the pages of our books.
                </p>

                {{ cta_button('btn--large') }}

            </div>
            <div class="hero__right">
                <img src="{{ url_for('static', filename='images/books-social.jpg') }}" alt="hero" class="hero__img">
            </div>
        </section>

        <section class="home__info">
            <h2 class="home__title">
                Delve into a world of knowledge and imagination
            </h2>
            <div class="info__item">
                <div class="info__text">
                    <h3>Books for your unique taste</h3>
                    <p>
                        Immerse yourself in thrilling adventures, heartwarming tales, and thought-provoking narratives.
                        Our collection of books offers a diverse range of genres to satisfy every reader's taste.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='images/ManyBooks.png') }}" alt="book">
            </div>
            <div class="info__item">
                <div class="info__text">
                    <h3>Expand your knowledge</h3>
                    <p>
                        Expand your knowledge with informative non-fiction books that cover a wide array of topics,
                        including science, history, self-improvement, and more. Feed your curiosity and learn something
                        new with every page.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='images/hp.jpg') }}" alt="book">
            </div>
            <div class="info__item">
                <div class="info__text">
                    <h3>Gain access to other worlds</h3>
                    <p>
                        Let your imagination soar with captivating fantasy novels, gripping thrillers, and engaging
                        mysteries. Embark on thrilling journeys, solve intricate puzzles, and get lost in the enchanting
                        worlds crafted by talented authors.
                    </p>
                </div>
                <img src="{{ url_for('static', filename='images/old_book.jpg') }}" alt="book">
            </div>

            <h2 class="home__title">
                Start your reading adventure today
            </h2>
            <div class="info__item">
                <div class="info__text">
                    <h3>Get reading!</h3>
                    <p>
                        Explore our vast collection of books, discover new authors, and find your next favorite read.
                        Whether you prefer paperback, hardcover, or digital formats, we have the perfect book waiting for
                        you.
                    </p>

                    {{ cta_button('btn--large') }}
                </div>
                <img src="{{ url_for('static', filename='images/more_old_books.jpg') }}" alt="book">
            </div>
        </section>
    </div>
{% endblock %}

