{% extends 'base.html' %}
{% from 'components/macros.html' import select_field, filter_book_form, book_card %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2>Your orders</h2>
    <div class="book">
    {% if orders|length %}
        {% for order in orders %}
        {{ book_card(book=order, show_checkout=False, show_restock=False) }}
        {% endfor %}
    {% else %}
        <h3 class="text--gray">Nothing to show!</h3>
    {% endif %}
    </div>
{% endblock %}