{% macro cta_button (class='') %}
    <a class="btn {{ class }}" >
        <span>
            <img src="{{ url_for('static', filename='images/icons/cart.svg') }}" alt="cart" class="icon">
            Start shopping
        </span>
    </a>
{% endmacro %}


{% macro form_errors (errors=[]) %}
    {% for error in errors %}
        <span class="text--red">{{ error }}</span>
    {% endfor %}
{% endmacro %}


{% macro select_field (name='', choices=[]) %}
    <select name="{{ name }}" id="{{ name }}" aria-label="{{ name }}">
        <option value=null selected disabled>Choose an option...</option>
        {% for choice in choices %}
            <option value="{{ choice[0] }}">{{ choice[1] }}</option>
        {% endfor %}
        {{ form.category.options }}
    </select>
{% endmacro %}


{% macro filter_produce_form (form=None, sold_by=True) %}
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form--row">
            <div class="form-group">
                {{ form.category.label }}
                {{ form.category }}
            </div>

            <div class="form-group">
                {{ form.item.label }}
                {{ form.item }}
            </div>

            <div class="form-group">
                {{ form.variety.label }}
                {{ form.variety }}
            </div>
        </div>

        <div class="form--row">
            {% if sold_by %}
                <div class="form-group">
                    {{ form.sold_by.label }}
                    {{ form.sold_by }}
                </div>
            {% endif %}

            <div class="form-group">
                {{ form.price.label }}
                {{ form.price }}
            </div>

            {{ form.submit(class="btn") }}
            <a href="{{ url_for('Produce.produce') }}" class="btn">Clear filters</a>
        </div>
    </form>
{% endmacro %}


{% macro book_card (book=None, show_checkout=True, show_restock=False, date=None) %}
    <h1>Book Listing</h1>
    <div class="book-card">
        <img src="{{ url_for('static', filename='images/book.png') }}" alt="Book 1">
        <div class="details">
            <p><strong>Author:</strong><br>{{ book.authors }}</p>
            <p><strong>Categories:</strong><br>{{ book.categories }}</p>
            <p><strong>Published Year:</strong><br>{{ book.published_year }}</p>
            <p><strong>Rating:</strong><br>{{ book.average_rating }}</p>
            <p><strong>Pages:</strong><br>{{ book.num_pages }}</p>
            <p><strong>Ratings Count:</strong><br>{{ book.ratings_count }}</p>
        </div>
        <div class="description" style="text-align: center;">
            <h3>Description</h3>
            {{ book.description }}
        </div>
    </div>
{% endmacro %}